body{
    margin: 0 auto;
    max-width: 100%;
    font-size: 21px;
    font-family: Helvetica,Arial,sans-serif;
    color: #666666;
    text-align: center;
}
h1 {
    transition: transform .1s;
}
a{
    color: #333333;
}
a:hover {
    color: lime;
}

h1:hover {
    color: lime;
    transform: scale(1.1);
}

h2:hover {
    color: lime;
}
nav {
    min-height: 5%;
    height: 30px;
    background-color: #888888;
    width: 2000px;
    max-width: 100%;
   
    padding: 6px 0 0 0;
    
}
section{
    text-align: center;
}
#title{
    
    font-size: 55px;
    background-color: lime;
    padding: 50px 0 0 0;
    margin: 0;
   
}
#subtitle{
    
    font-size: 21px;
    background-color: lime;
    padding: 0 0 25px 0;
    margin: 0;
}
section{
    background-color: #CFFFD4;
    height: 500px;
}
.Drinkimg {
    
    width: 25%;
}
.Drinkimg:hover {
    animation: bellshake .2s ease-in infinite;
    
    
}
@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    45% { transform: rotate(8deg); }
    60% { transform: rotate(-8deg); }
    75% { transform: rotate(4deg); }
    85% { transform: rotate(-4deg); }
    92% { transform: rotate(2deg); }
    100% { transform: rotate(0); }
  }
