body{
    margin: 0 auto;
    max-width: 100%;
    font-size: 36px;
    font-family: Helvetica,Arial,sans-serif;
    color: #666666;
}
nav {
    min-height: 5%;
    background-color: #888888;
    width: 2000px;
    max-width: 100%;
    display: block;
    
}
section{
    text-align: center;

}
.Drinkimg {
    
    width: 25%;
}
.Drinkimg:hover {
    animation: bellshake .2s ease-in infinite;
}
@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    45% { transform: rotate(8deg); }
    60% { transform: rotate(-8deg); }
    75% { transform: rotate(4deg); }
    85% { transform: rotate(-4deg); }
    92% { transform: rotate(2deg); }
    100% { transform: rotate(0); }
  }
